.hero-container {
    width: 1280px;
    padding: 116px 85px;
    background-image: url("../images/container-bg.jpg");
    background-size: 1280px 600px;
    background-repeat: no-repeat;
    border-radius: 5px;
}


.hero-info {
    width: 500px;
}

.hero__heading {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: "Fraunces", "Times New Roman", serif;
    font-style: normal;
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    color: #FEFCF7;
    text-align-last: left;
}

.hero__desc {
    width: 445px;
    margin: 0;
    margin-bottom: 56px;
    padding: 0;
    color: #FEFCF7;
    opacity: 0.8;
    text-align: left;
}

.section-btn {
    padding: 15px 15px;
    font-family: "Fraunces", "Times New Roman", serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    color: #FEFCF7;
    text-decoration: none;
    background-color: #fff;
    background: #0E8784;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-btn:hover {
    background-color: #66D2CF;
    transition: background-color 0.5s ease;
}



@media only screen and (max-width: 602px){
    .hero-container {
        width: 590px;
        height: 500px;
        background-size:  590px 300px;
    }
    .hero-info{
        width: 279px;
        
    }
    .hero__heading{
        display: flex;
        flex-direction: column;
        font-family: 'Fraunces' 9pt;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        width: 279px;
        text-align: center;
        margin-top: -76px;
        margin-left: 97px;
        color: #FEFCF7;
    }
    .hero__desc{
        text-align: center;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */
        
        text-align: center;
        
        color: #FEFCF7;
        
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    .section-btn{
        margin-top: -61px;
        display: inline-block;
        margin-left: 140px;
        margin-bottom: 10px;
    }
}